<body>
<h1 class="page-header">Employee</h1>
<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#employee" target="_self">All Employees</a></li>
        <li><a data-toggle="tab" href="#employee-add" target="_self">Invite New Employees</a></li>
        <li><a data-toggle="tab" href="#department" target="_self">Add New Department</a></li>
    </ul>
    <div class="tab-content">
        <div id="employee" ng-controller="EmployeeController" class="tab-pane fade in active">
            <br><br>
            <div class="row">
                <div class="input-box col-sm-3">
                    <input type="text" name="form-username" placeholder="Name"
                           class="form-username form-control col-sm-3" ng-model="search">
                </div>
                <div class="input-box col-sm-3">
                    <input type="text" name="form-username" placeholder="Email"
                           class="form-username form-control col-sm-3" ng-model="search1">
                </div>
                <div class="input-box col-sm-3">
                    <input type="text" name="form-username" placeholder="Department"
                           class="form-username form-control col-sm-3" id="form-department" ng-model="search2">
                </div>
            </div>
            <br><br>
            <table class="table table-striped">
                <tr>
                    <th>Name
                        <button type="button" ng-click="order='employeeName'" class="btn btn-default btn-xs"
                                aria-label="Left Align"><span
                                class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
                    </th>
                    <th>Email Adress
                        <button type="button" ng-click="order='employeeEmail'" class="btn btn-default btn-xs"
                                aria-label="Left Align"><span
                                class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
                    </th>
                    <th>Department
                        <button type="button" ng-click="order='departmentName'" class="btn btn-default btn-xs"
                                aria-label="Left Align"><span
                                class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
                    </th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="employee in employees | filter:search | orderBy:order track by $index ">
                    <td>
                        <span ng-if="employee.role == 'manager'" class="fa fa-star"></span>
                        <span class="fa fa-user"></span>
                        {{employee.employeeName}}
                    </td>
                    <td>{{employee.employeeEmail}}</td>
                    <td>{{employee.departmentName}}</td>
                    <td>
                        <span ng-if="employee.status == 'off'" class="fa fa-times"></span>
                        <div class="dropdown" ng-if="employee.status != 'off'">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Action
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="" data-toggle="modal" data-target="#myModal"
                                       ng-click="addEmployee(employee)">Change Department</a>
                                </li>
                                <li><a href="" ng-click="addEmployee(employee); addOffEmployee()">Remove From
                                    Company</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div id="employee-add" ng-controller="EmployeeAddController" class="tab-pane fade in"
             class="tab-pane fade in active">
            <br><br>
            <div class="row">
                <div class="input-box col-sm-3">
                    <input type="text" name="form-username" placeholder="Name"
                           class="form-username form-control col-sm-3" id="form-name" ng-model="newEmployee.name">
                </div>
                <div class="input-box col-sm-3">
                    <input type="text" name="form-username" placeholder="Email"
                           class="form-username form-control col-sm-3" id="form-email" ng-model="newEmployee.email">
                </div>
                <div class="dropdown col-sm-2">
                    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                        Select Department
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-click="getValue(department)" value="{{department.id}}"
                            ng-repeat="department in departments"><p>{{department.name}}</p></li>
                    </ul>
                </div>
                <button class="btn btn-default col-sm-2" type="button" ng-click="addEmployee()">Invite New
                    Employee
                </button>
            </div>
        </div>
        <div id="department" ng-controller="DepartmentController" class="tab-pane fade in "
             class="tab-pane fade in active">
            <div class="row">
                <br><br>
                <div class="input-box col-sm-3">
                    <input type="text" name="form-username" placeholder="Name"
                           class="form-username form-control col-sm-3" ng-model="department.departmentName"></div>
                <button class="btn btn-default col-sm-2" type="button" ng-click="addNewDepartment()">Add New
                    Department
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" ng-controller="EmployeeController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change {{worker.employeeName}}'s Department</h4>
            </div>
            <div class="modal-body">
                <div class="dropdown col-sm-1">
                    <button class="btn dropdown-toggle btn-xs" type="button" data-toggle="dropdown">
                        Select Department
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li ng-click="getValue(department, employee)" value="{{department.id}}"
                            ng-repeat="department in departments"><p>{{department.name}}</p></li>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close
                </button>
                <button type="button" class="btn btn-primary" ng-click="addChangedDepartment()">Save changes</button>
            </div>
        </div>
    </div>
</div>
</body>