<h1 class="page-header">Employee</h1>
<div class="row">
    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#employee" target="_self">All Employees</a></li>
        <li><a data-toggle="tab" href="#employee-add" target="_self">Invite New Employees</a></li>
        <li><a data-toggle="tab" href="#department" target="_self">Add New Department</a></li>
        <li class="pull-right">
            <input type="text" name="form-username" placeholder="Search Employee"
                   class="form-username form-control col-sm-3" ng-model="search">
        </li>
    </ul>
    <div class="tab-content">
        <div id="employee" class="tab-pane fade in active">
            <table class="table table-responsive table-employee" ng-controller="EmployeeController">
                <tr>
                    <th>Name
                        <button type="button" ng-click="order='employeeName'" class="btn btn-default btn-xs"
                                aria-label="Left Align"><span
                                class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
                    </th>
                    <th>Email Adress
                        <button type="button" ng-click="order='employeeEmail'" class="btn btn-default btn-xs"
                                aria-label="Left Align"><span
                                class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
                    </th>
                    <th>Department
                        <button type="button" ng-click="order='departmentName'" class="btn btn-default btn-xs"
                                aria-label="Left Align">
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span></button>
                    </th>
                    <th>Action</th>
                </tr>
                <tr ng-repeat="employee in employees | filter:search | orderBy:order track by $index ">
                    <td>
                        <span ng-if="employee.role == 'manager'" class="fa fa-star"></span>
                        <span class="fa fa-user"></span>
                        {{employee.employeeName}}
                    </td>
                    <td>{{employee.employeeEmail}}</td>
                    <td>{{employee.departmentName}}</td>
                    <td>
                        <span ng-if="employee.status == 'off'" class="fa fa-times"></span>
                        <div class="dropdown" ng-if="employee.status != 'off'">
                            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                                Action
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="" data-toggle="modal" data-target="#myModal"
                                       ng-click="addEmployee(employee)">Change Department</a>
                                </li>
                                <li><a href="" ng-click="addEmployee(employee); addOffEmployee()">Remove From
                                    Company</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="employee-add" ng-controller="EmployeeAddController" class="tab-pane fade in"
             class="tab-pane fade in active">
            <div class="row">
                <div class="form-group col-sm-3">
                    <label>Employee Name</label>
                    <input type="text" name="form-username" placeholder="Name"
                           class="form-control col-sm-3" id="form-name" ng-model="newEmployee.name">
                </div>
                <div class="form-group col-sm-3">
                    <label>Employee Email</label>
                    <input type="text" name="form-username" placeholder="Email"
                           class="form-control col-sm-3" id="form-email" ng-model="newEmployee.email">
                </div>
                <div class="form-group col-sm-3">
                    <label>Select Department</label>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Department
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li ng-click="getValue(department)" value="{{department.id}}"
                                   ng-repeat="department in departments">{{department.name}}</li>
                        </ul>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                    <br>
                    <button class="btn btn-default btn-xl" type="button" ng-click="addEmployee()">Invite New
                        Employee
                    </button>
                </div>
            </div>
        </div>
        <div id="department" ng-controller="DepartmentController" class="tab-pane fade in "
             class="tab-pane fade in active">
            <div class="row">
                <div class="input-box col-sm-3">
                    <label>Department Name</label>
                    <input type="text" name="form-username" placeholder="Name"
                           class="form-username form-control col-sm-3" ng-model="department.departmentName">
                </div>
                <div class="form-group col-sm-3">
                    <br><br>
                    <button class="btn btn-default" type="button" ng-click="addNewDepartment()">Add New
                        Department
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" ng-controller="EmployeeController">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change {{worker.employeeName}}'s Department</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label>Select Department</label>
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown
                                Example
                                <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li ng-click="getValue(department)" value="{{department.id}}"
                                    ng-repeat="department in departments">{{department.name}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="addChangedDepartment()">Change Department
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>