<div class="container">
    <div class="row">
        <div class="col-sm-5 col-md-offset-5">
            <div class="form-box">
                <div class="form-top">
                    <div class="form-top-left">
                        <h3>Reset Your Password</h3>
                    </div>
                    <div class="form-top-right">
                        <i class="fa fa-lock"></i>
                    </div>
                </div>
                <div class="form-bottom">
                    <form class="login-form">
                        <div class="form-group">
                            <label class="sr-only" form="form-username">Email</label>
                            <input type="text" name="form-username" placeholder="Email" class="form-username form-control" id="form-username" ng-model="data.email" >
                        </div>
                        <button class="btn" ng-click="reset()">Send Password Reset Link!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
