    body {
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    }

    .form-control {
        margin-bottom: 10px;
    }

    .action .btn {
        margin-bottom: 10px;
    }

    .container .row .col-md-11 .glyphicon {
        font-size: 20px;
    }

    .logo img {
        width: 55px;
        background: #000;
    }

    .box-avarage {
        margin-right: 10px;
    }