<div class="col-md-10">

    Company Name:<br>
    <input type="text" name="companyname" ng-model="employee.company_name">
    <br>
    Name:<br>
    <input type="text" name="firstname" ng-model="employee.name">
    <br>
    E-mail:<br>
    <input type="text" name="email" ng-model="employee.email">
    <br>
    Password:<br>
    <input type="password" name="password" ng-model="employee.password">
    <br>
    Password:<br>
    <input type="password" name="password_confirmation" ng-model="employee.password_confirmation">

    <br><br>
    <input type="submit" value="Submit" ng-click="register()">

</div>
